.hotopct{
    background:#fff;
    display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
flex-direction: column;
-webkit-box-pack: center;
justify-content: center;
z-index: 2;
height: 2rem;
box-sizing: border-box;
position: relative;
    .hoticon {
        position: absolute;
        top:0.4rem;
        right:1.8rem;
        width: 1.42rem;
        height:.67rem;
        background: url(https://s3.music.126.net/mobile-new/img/index_icon_2x.png?5207a28c3767992ca4bb6d4887c74880=) no-repeat -.26rem -.3rem;
        background-size: 1.66rem .97rem
    }
    .hottime{
        position: absolute;
        top:1.4rem;
        right:2.2rem;
        color: #fff;

    }
   
    
}
 .hotList{
        
        background:#fff;
        .num{
            align-items: center;
            justify-content: center;
            font-size: 0.17rem;
            display: flex;
        }
        h3{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: normal;
            font-size: 17px;

        }
        .detail{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: normal;
            font-size: 12px;
            color: #888;

        }
    }