.classNav{
    width:100%;
    display: flex;
    height:1.07rem;
    border-bottom:2px solid #fbfbfb;
    position: relative;
    background:#ffffff;
    .classNav_ul::-webkit-scrollbar{
        display: none;
    }
    .classNav_ul{
        display:flex;
        height:1.07rem;
        flex-wrap:nowrap;
        overflow:auto;
        margin-bottom:0;
        border-bottom: 1px solid #f4f4f4;

        li{
            height:1.07rem;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding:0 0.18rem;
            flex-shrink: 0;   
            i{
                width: 0.42rem;
                height:0.42rem;
                background:#ff2e22;
                line-height: 0.4rem;
                border-radius: 50%;
                color:#ffffff;
                font-size:0.20rem;
            }
            span{
                margin:0.08rem 0;
                font-size: 12px;
                color:#8a8a8a;
            }
        }
    }
}