    .mineTop{
        height:0.4rem;
    }
    
    .mineTopcon{
        height:0.4rem;
        width:100%;
        display:flex;
        justify-content:space-between;
        align-items: center; 
        position: fixed;
        top:0;
        background:#ffffff;
        font-size: 0.16rem;
        .mineTop_left{
            margin-left:0.15rem;
            .icon-yun{
                font-size: 0.18rem;
            }
        }
        .mineTop_right{
            margin-right: 1.56rem;
        }
    }

.box{
    height:10rem;
    background:red
}