.Playlist{
    width:100%;
    height:1.93rem;
    background:#ffffff;
    
}
.playlist_dl{
    width:100%;
    height:0.48rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    dt{
        margin-left:0.25rem;
        i{
            font-size: 0.24rem;
            
        }
    }
    dd{
        width:3.06rem;
        height:0.48rem;
        border-bottom: 2px solid #f4f4f4;
        display:flex;
        justify-content: space-between;
        align-self: center;
        line-height: 0.48rem;
        span{
            margin-right:0.12rem;
            color:#a8a8a8;
        }
    }
    
}