.Songsheet {
    background: #ffffff;
    .creatSheet {
        height: 0.46rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .cereat_left {
            width: 2.6rem;
            display: flex;
            justify-content: flex-start;
            margin-left: 0.1rem;

            .openchange {
                transition: 0.2s
            }

            p {
                margin: 0 0.1rem;
            }
        }

        .ereat_right {
            width: 0.6rem;
            display: flex;
            justify-content: space-between;

            margin-right: 0.16rem;

            i {
                line-height: 0.46rem;
                width: 0.3rem
            }
        }
    }

    .sheetList {//歌单列表
        display: block;
        .sheetList_dl {
            height: 0.46rem;
            margin-top: 0.1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            dt {
                margin-left: 0.16rem;

                img {
                    width: 0.46rem;
                    height: 0.46rem;
                }
            }

            dd {
                width: 3rem;
                height: 0.46rem;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .sheetSingle_left {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: flex-start;

                    span {
                        color: #979797;
                        font-size: 0.1rem;
                    }
                }

                .sheetSingle_right {
                    height:0.46rem;
                    width:0.36rem;
                    line-height: 0.46rem;
                    margin-right: 0.14rem;
                }
            }
        }
    }
    //透明背景
    .eventBackground {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        background: #000000;
        opacity: 0.5;
        z-index: 999;
        display: none;
    }

    .addModal {//添加弹窗
        width: 90%;
        height: 2rem;
        position: fixed;
        top: 30%;
        left: 5%;
        z-index: 999;
        border-radius: 0.1rem;
        background: #fff;
        display: none;

        h3 {
            width: 80%;
            height: 0.3rem;
            margin: 0 auto;
            text-align: left;
            color: #000000;
            font-size: 0.18rem;
            font-weight: 300;
            margin: 0.16rem 0 0.1rem 10%;
        }

        .sheetName {
            width: 80%;
            height: 0.3rem;
            border: none;
            color: #a8a8a8;
            border-bottom: 1px solid #000000;
        }

        .hidesheet {
            width: 80%;
            height: 0.3rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-left: 10%;
        }
        .choosesubmit {
            widows: 40%;
            height: 0.3rem;
            margin: 0.4rem 0 0 1rem;
            .chooseBtn {
                margin-left: 0.5rem;
                background: #fff;
                border: none;
                color: red;
            }
        }
    }
    //歌单管理弹窗（包括单个歌单管理）
    .sheetmanage,.singlemanage {
        width: 100%;
        height: 3rem;
        background: #ffffff;
        position: fixed;
        z-index: 999;
        bottom: -0.7rem;
        transition: bottom 0.6s;
        display: flex;
        flex-direction: column;
        border-radius: 0.2rem;

        h3 {
            width: 100%;
            height: 0.46rem;
            border-bottom: 1px solid #f3f3f3;
            line-height: 0.46rem;
            text-align: start;
            padding-left: 8%;
        }

        .manage_dl {
            width: 100%;
            height: 0.45rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            dt {
                margin-left: 8%;
                i {
                    font-size: 0.24rem;
                    color: #000000;
                    font-weight: 300;
                }
            }
            dd {
                width: 80%;
                line-height: 0.45rem;
                margin-left: 5%;
                text-align: start;
                border-bottom: 1px solid #f3f3f3;
            }
        }
    }
    .deleteSheet{
        display:block;
        width:88%;
        height:1.2rem;
        background:#ffffff;
        position: fixed;
        top:40%;
        z-index:999;
        border-radius: 0.1rem;
        left:6%;
        p{
            height:0.3rem;
            line-height: 0.3rem;
            margin:0.1rem 0.2rem;
            text-align: start;
            color:#a8a8a8;
        }
        .deleteSure{
            display:flex;
            justify-content: flex-end;
            margin-top:0.3rem;
            .deleteBtn{
                width:0.6rem;
                height:0.3rem;
                margin-right: 0.2rem;
                background: #fff;
                border: none;
                color: red;
            }
        }
        

    }
}