.my-accordion .pad .am-accordion-content-box {
    padding: 10px;
  }



.Songsheet{
    background:#ffffff;
    .creatSheet{
        height:0.46rem;
        width:100%;
        display:flex;
        justify-content: space-between;
        align-items: center;
        .cereat_left{
            width:1.2rem;
            display:flex;
            justify-content: space-between;
            margin-left:0.16rem;
        }
        .ereat_right{
            width:0.4rem;
            display:flex;
            justify-content: space-between;
            margin-right:0.16rem;
        }
    }
    .sheetList{
        display:block;
        .sheetList_dl{
            height:0.46rem;
            margin-top:0.1rem;
            display:flex;
            justify-content: space-between;
            align-items: center;
            dt{
                margin-left:0.16rem;
                img{
                    width:0.46rem;
                    height:0.46rem;
                }
            }
            dd{
                width:3rem;
                height:0.46rem;
                display:flex;
                justify-content: space-between;
                align-items: center;
                .sheetSingle_left{
                    display:flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: flex-start;
                    span{
                        color:#979797;
                        font-size: 0.1rem;
                    }
                }
                .sheetSingle_right{
                    margin-right:0.16rem;
                }
                
            }
        }
    }
}
  