.controlphone{
    .phone-tit{
        color:#ccc;
        margin-bottom: 0;
    }
    .phone-code{
        font-size:.14rem;
        height:.45rem;
        line-height:.45rem;
        position:absolute!important;
        right:0;
        bottom:0
    }
}