.controlphone{
    .phone-tit{
        text-align:"left";
        padding-left:'.16rem';
        color:#ccc
    }
    .phone-code{
        font-size:.14rem;
        height:.45rem;
        line-height:.45rem;
        position:absolute!important;
        right:0;
        bottom:0
    }
}