body{
    line-height: normal;
}
.login{
    height: 100%;
    background: #d43c33;
    position: relative;
    span{
        font-size: .3rem;
        color: #fff;
        position: absolute;
        left: .1rem;
    }
    .login-logo{
        width: .75rem;
        height: .75rem;
        position: absolute;
        left: 1.5rem;
        top: 1.86rem;
        // img{
        //     width: 100%;
        //     height: 100%;
        // }
        i{
            background: #de4033;
            font-size: .46rem;
            color: #fff;
            border-radius: 50%;
            padding: .15rem;
        }
    }
    .go-login{
        position: absolute;
        bottom: 0;
        width: 100%;
        .phone-login{
            display: flex;
            width: 2.8rem;
            height: .42rem;
            background: #fff;
            margin: 0 auto .32rem;
            border-radius: .21rem;
            justify-content: center;
            align-items: center;
            color: #d43c33;
        }
        .third-party-login{
            display: flex;
            width: 2.8rem;
            height: .36rem;
            justify-content: space-between;
            margin: 0 auto .26rem;
            .li{
                background: #fff;
                border-radius: 50%;
                i{
                    font-size: .34rem;
                    color: #d43c33;
                }
            }
        }
        .is-agree{
            font-size: .12rem;
            color: #f8ebe9;
            margin: 0 auto .6rem;
            i{
                font-size: .12rem;
            }
            a{
                color: #f8ebe9;
            }
        }
    }
}