.classNav{
    width:100%;
    display: flex;
    height:1.07rem;
    border-bottom:2px solid #fbfbfb;
    position: relative;
    ul{
        display:flex;
        height:1.07rem;
        flex-wrap:nowrap;
        overflow:auto;
        margin-bottom:0;
        li{
            height:1.07rem;
            display:flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding:0 0.28rem;
            flex-shrink: 0;   
            i{
                width: 0.4rem;
                height:0.4rem;
                background:red;
                line-height: 0.4rem;
                border-radius: 50%;
                color:#ffffff;
                font-size:0.24rem;
            }
            span{
                font-size: 12px;
                color:#c1c1bf;
            }
        }
    }
}