
.my-drawer {
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .my-drawer .am-drawer-sidebar {
    background-color: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .my-drawer .am-drawer-sidebar .am-list {
    width: 300px;
    padding: 0;
  }

  .am-drawer-draghandle{
    width:0;
  }
.am-navbar{
    background:#ffffff;
    color:#000000;
    height:100%
  }
  
  .demun_top{
    height:0.54rem!important;
    background:#ffffff;
    position: fixed;
    top:0;
    left:0;
    z-index:2;
  }
  // .am-drawer-sidebar{
  //   z-index:99999;
  // }
  
