@import '~antd/dist/antd.css';
// .index{
//     display:flex;
//     .tabText{
//         display: flex;
//         align-items: center;
//         justify-content: center; 
//         background:#ffffff;
//     }
// }
//吸顶
.am-tabs-tab-bar-wrap{
    height:0.54rem;
    display:flex;
    justify-content: center;
}

.am-tabs-default-bar-top{
    height:0.54rem;
    width:68%;
    // position:fixed;
    // top: 0;
    // left:16%;
    // z-index:2
}
.dmenu{
    // width:16%;
    width: 100%;
    height:0.54rem;
    // position: fixed;
    // top:0;
    // left:0;  
    // z-index: 1;
}
.top_nav{
    width:100%;
    position: fixed;
    top: 0;
    
}
.search{
    height:0.54rem;
    width:16%;
    position: fixed;
    top:0;
    right:0;
    background:#ffffff;
    z-index: 1;
    i{
        line-height: 0.54rem;
        color:#000000;
        font-weight: 500;
    }
}

//原字体
.am-tabs-default-bar-tab{
    font-size:14px;
    height:0.54rem;
    
    
    
}

.am-tabs-default-bar-tab::after{
    height:0!important;
}
// //target字体
.am-tabs-default-bar-tab-active{
    color:#000000;
    font-size:16px
}
.am-tabs-default-bar-underline{
    border:none
}

.tabText_home{
    position: relative;
    .tanCon{
        position: absolute;
        top:0;
        left:0;
    }
}

.box{
    height:1000px;
    background:red;
}